name: Evergreen

on:
  schedule:
    # Every 9AM on Monday KST
    - cron: '0 0 * * 1'

  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: latest

      - run: bun i
      - run: bun bump

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Bump dependencies
