name: Send Movies

on:
  schedule:
    - cron: '0 1 * * 3,6'
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Korean fonts
        run: sudo apt-get install fonts-noto-cjk

      - name: Install dependencies
        run: bun i -f

      - name: Install Playwright Browsers
        run: bunx playwright install chromium

      - name: Run Playwright tests
        run: bun run test --project chromium

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_author: Actions Bot <actions@github.com>
          skip_fetch: true
          push_options: '--force'

      - name: Send
        run: bun scripts/send.ts
